.conteudo-missao {
    display: flex; 
    justify-content: space-evenly;

}
.conteudo-missao-proposta {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.conteudo-valores {
    display: flex;
    justify-content: center;
    text-align: center;
}