@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0%;
        margin: 0%; }
    
        html {
            height: 200%; }
}

@layer components {
    .introducao { /* Estilização para todos os títulos de páginas */
        @apply text-3xl px-10 mb-4
    }
    .introducao-informacao {
        @apply text-base px-10
    }
    .acesso {
        @apply px-20 text-lg font-bold mb-2
    }
    .convenio {
        @apply text-2xl px-10 mb-2
    }
    .textinho {
        @apply mb-2 text-base 
    }

    /* Estilização Cadastro + Login */
    .registro-card {
        @apply w-96 flex flex-col
    } .registro-card-resposta {
        @apply bg-red-300 text-white py-3 px-6 rounded-md mt-6 mb-2 hover:bg-red-400 transition duration-500 ease-out
    }
    .login {
        @apply  m-2 px-3 transition-colors duration-300
    } .login:hover {
        @apply text-red-300
    }


    .card-info {
        @apply text-base mb-4 
    } .preencher {
        @apply w-[300px] bg-pink-100 rounded-[5px] 
    }

    /* Estilização de Planos */
    .card {
        @apply flex justify-center
    }
    .card-pai {
        @apply rounded-md bg-pink-200 text-center text-2xl m-5 p-5 
    }
    .card-filho{
        @apply border-2 rounded-sm border-black m-5 p-5 
    }

    /* Estilização Prontuário */
    .btn-agenda {
        @apply border-2 rounded-md m-2 bg-pink-200 border-pink-200 px-3 mb-12
    } .btn-agenda:hover {
        @apply border-pink-400
    }
    .prontuario {
        @apply px-5 text-base mb-6
    } 
    .prontuario-estilo {
        @apply w-[300px] bg-neutral-300 rounded-[5px] mb-6
    }
    .prontuario-separacao {
        @apply flex justify-start 
    }
    .prontuario-resposta {
        @apply w-[200px] bg-neutral-300 rounded-[5px] mb-4
    }

    /* Estilização em botões */ 
    .plano-botao {
        @apply bg-pink-200 px-3 m-4 p-2 rounded-md cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 
    }
    .canal-botao {
        @apply px-3 m-4 p-2 rounded-md bg-pink-200
    } .canal-botao:hover {
        @apply bg-pink-300
    }
    .agendamento {
        @apply text-base font-bold
    }

    /* Estilização Agenda Exame + Consulta */
    .cardzao {
        @apply m-5 p-5 border-2 rounded-sm border-black 
    }
    .conteudo-pai {
        @apply text-2xl mb-2
    }
    .conteudo-filho {
        @apply text-base mb-6
    }
    .formulario {
        @apply text-base mb-6
    }
    .formulario-resposta {
        @apply w-[200px] bg-neutral-300 rounded-[5px] mb-4
    }

    /* Estilização Cabeçalho */
    .cabecalho-links {
        @apply px-10 text-[20px] whitespace-nowrap rounded-md m-2 px-3 mb-12 transition-colors duration-300
    } .cabecalho-links:hover {
        @apply text-red-300
    }
} 