.info-cadastro {
display: flex;
justify-content: center;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 2% 0;
    margin: 15% 0;
    border-style: none;
    border-radius: 10px;
    background-color: #F1DBDA;
}

.form-registro {
    font-size:xx-large; 
}

/* Estilizando a fundo o Formulário */
.form-nome {
    padding: 1% 0;
    width: 100%;
    border-radius: 5px;
}

.form-email {
    padding: 1% 0;
    width: 100%;
    border-radius: 5px;
}

.form-cpf {
    padding: 1% 0;
    width: 100%;
    border-radius: 5px;
}

.form-senha {
    padding: 1% 0;
    width: 100%;
    border-radius: 5px;
}
/* Estilizando a fundo o Formulário */

.botao-registro {
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 8px 12px;
    }
        .botao-registro:hover {
            background-color: #ffa7a6;
        }

        .destaque-mouse {
            text-decoration: none;
            color: black; /* Cor Principal */
            transition: color 0.5s; /* Adiciona uma transição suave de cor ao passar o mouse */  }
                .destaque-mouse:hover {
                    color: #ffa7a6; /* Cor Secundária*/ 
                }