.info-login {
    display: flex;
    justify-content: center;
    }
    
    .form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        padding: 2% 0;
        margin: 15% 0;
        border-style: none;
        border-radius: 10px;
        background-color: #F1DBDA;
    }
    
    .form-login-users {
        font-size:xx-large; 
    }
    
    /* Estilizando a fundo o Formulário */
    .form-user {
        padding: 1% 0;
        width: 100%;
        border-radius: 5px;
    }
    
    .form-senha {
        padding: 1% 0;
        width: 100%;
        border-radius: 5px;
    }
    
    .botao-login {
        background-color: #D9D9D9;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 8px 12px;
        }
            .botao-login:hover {
                background-color: #fcd0cf;
            }
    
    .destaque-mouse {
        text-decoration: none;
        color: black; /* Cor Principal */
        transition: color 0.5s; /* Adiciona uma transição suave de cor ao passar o mouse */  }
            .destaque-mouse:hover {
                color: #ffa7a6; /* Cor Secundária*/ 
            }
    